<!DOCTYPE html>
<html>
<head>
    <title>Task tracker</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">Task tracker</a></h1>
    <nav>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <a href="{% url 'main' %}">Задачи</a>
            <a href="{% url 'tasks_add' %}">Создать задачу</a>
            <a href="{% url 'analytics' %}">Аналитика</a>
            <a href="{% url 'tags' %}">Теги</a>
            <div style="text-align: right">
                {% if not user.is_anonymous %}
                    Вы авторизованы как <b>{{ user.username }}</b>
                {% endif %}
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>