{% extends 'web/base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
<div class="container contact-form">
    <form action="" class="search-form">
        <div class="input-field first-wrap">
            <div class="inner-form">
                {% for field in filter_form %}
                {{ field.label }}
                {{ field }}
                {% endfor %}
                <button class="btn-search">Найти</button>
                <button class="btn-export" name="export" value="csv">Экспорт</button>
            </div>
        </div>
    </form>
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
                {% if task.tags.all %}
                <h5>Теги:</h5>
                [{{ task.tags_count }}: {% for tag in task.tags.all %} {{ tag.title }} {% endfor %}]
                {% endif %}
            <br>
            <br>
                <h5>Автор:</h5>
                {{ task.user.username }}
            <br>
            <br>
            <h5>Название:</h5>
            <b>{{ task.title }} </b>
            <br>
            <br>
            <h5>Описание:</h5>
            {{ task.description }}
            <br>
            <br>
            <div>
            <img id="user-img" src="./media/{{ task.image }}">
            </div>
            <br>
            <a href="{% url 'tasks_edit' task.id %}">  Изменить</a>
            <a href="{% url 'tasks_delete' task.id %}">&nbsp; Удалить</a>
        </li>

        {% endfor %}
    </ul>
    <nav>
        <ul class="pagination">
            {% if tasks.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">в начало</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ tasks.previous_page_number }}">предыдующая страница</a>
            </li>
            {% endif %}

           <span class="sr-only">
                <li class="page-item active">
               <a class="page-link" href="#">  страница {{ tasks.number }} из {{ tasks.paginator.num_pages }} </a>
                </li>
           </span>

            {% if tasks.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ tasks.next_page_number }}">следующая страница</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ tasks.paginator.num_pages }}">в конец</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    Всего {{ total_count }} записей
</div>

{% endblock %}