{% extends 'web/base.html' %}
{% block content %}
    <b>Добавить задачу</b>
    <form action="{% url 'tasks_add' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Сохранить</button>
    </form>
    {% if not user.is_anonymous %}
    <p>Вы авторизованы как <b>{{ user.username }}</b></p>
    {% endif %}

    <a href="{% url 'tasks_add' %}">Создать задачу</a>
  <hr>
    <form action="">
        <b>Фильтры:</b><br>

        {% for field in filter_form %}
            {{ field.label }}
            {{ field }}
        {% endfor %}

        <button>Найти</button>

        <a href="?">Показать всё</a>
    </form>
    <ul>
        {% for task in tasks %}
        <li>
              <small>
             {% if task.tags.all %}
                        [{{ task.tags_count }}: {% for tag in task.tags.all %} {{ tag.title }} {% endfor %}]
                    {% endif %}

                   {{ timeslot.user.username }}

              </small>
            <b>{{ task.title }} </b>
            {{ task.description }}
            <a href="{% url 'tasks_edit' task.id %}">Изменить</a>
            <a href="{% url 'tasks_delete' task.id %}">Удалить</a>
        </li>

        {% endfor %}
    </ul>

Всего {{ total_count }} записей {{ tasks|length }} на этой странице.
 <nav>
        {% if tasks.has_previous %}
            <a href="?page=1">в начало</a>
            <a href="?page={{ tasks.previous_page_number }}">предыдующая страница</a>
        {% endif %}

        страница {{ tasks.number }} из {{ tasks.paginator.num_pages }}

        {% if tasks.has_next %}
            <a href="?page={{ tasks.next_page_number }}">следующая страница</a>
            <a href="?page={{ tasks.paginator.num_pages }}">в конец</a>
        {% endif %}
    </nav>


{% endblock %}