{% extends 'web/base.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
<div class="container">
    <h2>Теги</h2>
    <ul>
        {% for tag in tags %}
        <li>
            {{ tag.title }}
            <small><a href="{% url 'tags_delete' tag.id %}">Удалить</a></small>
        </li>

        {% endfor %}
    </ul>

    <b>Добавление тега</b>
    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Сохранить тег</button>
        </form>
    </div>
</div>
{% endblock %}